<table class="table">
    <thead>
      <tr>
        <th scope="col">User name</th>
        <th scope="col">Price</th>
        <th scope="col">Books</th>
        <th scope="col">Accept</th>
        <th scope="col">Paid</th>
        <th *ngIf="authService.getRole()==0" scope="col">Accept order</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of data">
        <tr>
          <td>{{order.userName}}</td>
          <td>{{order.price}} PLN</td>
          <td class="books">{{books(order)}}</td>
          <td><input type="checkbox" onclick="return false;" [(ngModel)]="order.accept"/></td>
          <td><input type="checkbox" onclick="return false;" [(ngModel)]="order.paid"/></td>
          <td *ngIf="authService.getRole()==0" class="option" (click)="accept(order)">accept</td>
        </tr>
      </ng-container>
    </tbody>
</table>